@model string

@{
    ViewData["Title"] = "Phish Submitter";
}

<p class="text-muted" style="position: fixed; top: 0; right: 5px;">@Model</p>

<div class="text-center">
    <h1 class="display-4">Phish Submitter Api</h1>
    <p class="text-danger font-weight-bold">@ViewBag.CacheMessage</p>
</div>
